body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    background-color: #9f9f9f;
}

th, td {
    border: 1px solid #727272;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c0c0c0;
}
